*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 55px;
    background-color: #6366f1;
}
nav{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:space-between;
}
.logo-name{
    color: #ffff;
    font-size: large;
    font-family:sans-serif;
    font-weight: 500;
    margin-left: 20px;
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 0.3s;
}
.logo-name:hover{
    opacity: 1;
    cursor: pointer;
}
.you{
    height: 100%;
    width: 100px;
    /* border-radius: 500px; */
    /* background-color: #4a4cf5; */
    /* border: 1px solid #ffffff; */
    color: #ffff;
    font-size: large;
    font-family:sans-serif;
    font-weight: 500;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    /* justify-content: center; */
    /* align-items: baseline; */
    transition-property: opacity;
    /* opacity: 0.7; */
    transition-duration: 0.3s;
    overflow:visible;
}
.first-you{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* background-color: #e60d0d; */
}

.name-logo{
    height: 70%;
    width: 40%;
    border-radius: 500px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #ffffff;
    opacity: 0.7;
    /* background-color: #fff; */
}
.name-logo:hover{
    opacity: 1;
    cursor: pointer;
}
.option{
    z-index:100;
    height: 0%;
    width: 100%;
    transition-property: height;
    transition-duration: 0.3s;
    /* background-color: #ffff; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
main{
    background-color: #f3f3f7;
    min-height: 1000px;
    /* padding-top: 40px; */
}
.toolbar{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: #f3f3f7;
    /* background-color: red; */
    /* border-bottom: 2px solid #fff; */
    
}
.create-button{
    margin-left: 20px;
    height: 52%;
    width: 120px;
    color: #ffff;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #5558ff;
    opacity: 0.9;
    font-weight: 500;
    transition-property: opacity;
    transition-duration: 0.3s;
}
.create-button:hover{
    opacity: 1;
    cursor: pointer;
}
.student-group{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}
.student-card{
    /* margin: auto; */
    padding: 10px;
    margin: 20px;
    max-width: 500px;
    height: 120px;
    width: 180px;
    border-radius: 10px;
    background-color: #ffff;
}
.s-name{
    color: #5558ff;
    font-weight: bold;
    font-size: larger;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 30%;
    /* margin-bottom: 30px; */
}
.s-rollno{
    /* margin-top: 10px; */
    height: 20%;
    color: rgb(126, 118, 118);
    font-weight: bold;
    font-family:sans-serif;
    font-size: smaller;
}
.skeleton-card{
    /* margin: auto; */
    margin: 20px;
    max-width: 500px;
    height: 120px;
    width: 180px;
    border-radius: 5px;
    background-color: #ffff;
    animation: skeleton-loading 0.8s linear infinite alternate ;
}
@keyframes skeleton-loading {
    0% {
        background-color: hsl(0, 0%, 80%);
    }

    100% {
        background-color: hsl(0, 0%, 90%);
    }
}