*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 55px;
    background-color: #6366f1;
}
nav{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:space-between;
}
.logo-name{
    color: #ffff;
    font-size: large;
    font-family:sans-serif;
    font-weight: 500;
    margin-left: 20px;
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 0.3s;
}
.logo-name:hover{
    opacity: 1;
    cursor: pointer;
}
.you{
    height: 40px;
    width: 40px;
    border-radius: 500px;
    /* background-color: #4a4cf5; */
    border: 1px solid #ffffff;
    color: #ffff;
    font-size: large;
    font-family:sans-serif;
    font-weight: 500;
    margin-right: 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    transition-property: opacity;
    opacity: 0.7;
    transition-duration: 0.3s;
}
.you:hover{
    opacity: 1;
    cursor: pointer;
}
main{
    background-color: #f3f3f7;
    min-height: 1000px;
    /* padding-top: 40px; */
}
.toolbar{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: #f3f3f7;
    /* background-color: red; */
    /* border-bottom: 2px solid #fff; */
    
}
.create-button{
    margin-left: 20px;
    height: 52%;
    width: 120px;
    color: #ffff;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #5558ff;
    opacity: 0.9;
    font-weight: 500;
    transition-property: opacity;
    transition-duration: 0.3s;
}
.create-button:hover{
    opacity: 1;
    cursor: pointer;
}
.student-group{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}
.student-card{
    /* margin: auto; */
    margin: 20px;
    max-width: 500px;
    height: 120px;
    width: 180px;
    border-radius: 5px;
    background-color: #ffff;
}