<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddStudent</title>
    <link rel="stylesheet" href="../css/addstudent.css">
    <script src="../js/addstudent.js"></script>
</head>
<body>
    <header class="header">
        <nav>
            <div class="logo-name">
                Classroom
            </div>
            <div class="you">
                <div class="first-you">
                    <span class="name-logo">
                        G
                    </span>
                </div>
                <div class="second-you option">
                    <button class="create-button">Logout</button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="info">
            <div class="classroom-name">
                <div class="pollHeading">
                    Student Details 
                </div>
                
                <input type="text" 
                    id = "student-name"
                    placeholder='student name'
                    class='inputQuestion'
                />
                <input type="text" 
                    id = "student-rollno"
                    placeholder='student rollno'
                    class='inputQuestion'
                    
                />
                <input type="text" 
                    id = "student-email"
                    placeholder='student email'
                    class='inputQuestion'
                    
                />
            </div>
            <div class="button-section">
                <button class="add-button">Add</button>
            </div>
        </div>
    </main>
</body>
</html>