<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
    <link rel="stylesheet" href="../css/create.css">
    <script src="../js/create.js"></script>
</head>

<body>
    <header class="header">
        <nav>
            <div class="logo-name">
                Classroom
            </div>
            <div class="you">
                G
            </div>
        </nav>
    </header>
    <main>
        <div class="info">

            
            
            <div class="classroom-name">
                <div class="pollHeading">
                    Classroom Details 
                </div>
                
                <input type="text" 
                    placeholder='course name'
                    class='inputQuestion'
                />
                <input type="text" 
                    placeholder='subject name'
                    class='inputQuestion'
                />
            </div>
            <div class="button-section">
                <button class="create-button">Create</button>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>