<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <script src="../js/dashboard.js"></script>
    <!-- <script src=""></script> -->
</head>

<body>
    <header class="header">
        <nav>
            <div class="logo-name">
                Classroom
            </div>
            <div class="you">
                G
            </div>
        </nav>
    </header>
    <main>
        <section class="toolbar">
            <button class="create-button">Create</button>
        </section>
        <section class="courses">
            <div class="course-card">
                <div class="card-top"></div>
                <div class="card-mid"></div>
                <div class="card-bottom">

                </div>
            </div>
            <div class="course-card">
                <div class="card-top"></div>
                <div class="card-mid"></div>
                <div class="card-bottom"></div>
            </div>
            <div class="course-card">
                <div class="card-top"></div>
                <div class="card-mid"></div>
                <div class="card-bottom"></div>
            </div>
            <div class="course-card">
                <div class="card-top"></div>
                <div class="card-mid"></div>
                <div class="card-bottom"></div>
            </div>
            <div class="course-card">
                <div class="card-top"></div>
                <div class="card-mid"></div>
                <div class="card-bottom"></div>
            </div>
            
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>