<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <script src="../js/dashboard.js"></script>
    <!-- <script src=""></script> -->
</head>

<body>
    <header class="header">
        <nav>
            <div class="logo-name">
                Classroom
            </div>
            <div class="you">
                <div class="first-you">
                    <span class="name-logo">
                        G
                    </span>
                </div>
                <div class="second-you option">
                    <button id="logout-button" class="logout-button">Logout</button>
                </div>
            </div>
            <div class="auth-div authHide">
                <button id ="login-button" class="auth-button">login</button>
                <button id ="signup-button" class="auth-button">signup</button>
            </div>
        </nav>
    </header>
    <main>
        <section class="toolbar">
            <button class="create-button">Create</button>
        </section>
        <section class="courses">
            <div class="skeleton">
            </div>
            <div class="skeleton">
            </div>
            <div class="skeleton">
            </div>
            <div class="skeleton">
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>